body {
  /* background-color: #655555!important; */
  /* color: #fff!important; */
}

#header {
  background-color: #dadada;
  color: #000!important;
}

.case {
  display:none;
}


.header-btn {
  padding: 10px 10px;
  width: 20vw;
  font-weight: 600;
  font-size: 12pt;
}



/* CASE 1 */

#options-icon {
  font-size: 14pt;
}

#login-text {
  margin-top: 15vh;
  margin-left: 31vw;
  font-size: 24pt;
  font-weight: 600;
}

.text-field1 {
  margin: 30px auto 0px auto;
  font-size: 11pt;
  padding: 10px 10px 10px 15px;
}

#user-field {
  width: 32vw;
}

#pass-field {
  width: 32vw;
}

#remember-text {
  margin: 10px auto 0px auto;
  font-size: 11pt;
  padding: 7px;
  width: 32vw;
}

#login-btn-field {
  margin: 10px auto 0px auto;
  font-size: 11pt;
  padding: 7px;
  width: 32vw;

}

#login-btn {
  border-style: solid;
  border-width: 1px;
  padding: 9px 40px 9px 40px;
  background-color: #10a5df;
  color: #ffffff;
  border-color: #10a5df;
  border-radius: 4px;
  font-size: 8pt;
}


/* CASE 2 */

#case2-1 {
  margin: 40px 0px 0px 70px
}

#case2-2 {
  margin: 40px 0px 0px 70px
}

#case2-3 {
  margin: 40px 0px 0px 70px
}

#case2-4 {
  margin: 40px 0px 0px 70px
}


.text-field2 {
  font-size: 11pt;
  padding: 1px 1px 1px 3px;
}

.text-field2b {
  font-size: 11pt;
  padding: 1px 1px 1px 3px;
}

.big-btn {
  display: block;
  border-style: solid;
  border-width: 1px;
  padding: 14px 14px 14px 14px;
  background-color: #10a5df;
  color: #ffffff;
  border-color: #10a5df;
  border-radius: 4px;
  font-size: 10pt;
  width: 140px;
  text-align: center;
}



/* Case 3 */

#case3-1 {
  margin: 40px 0px 0px 70px
}

#case3-2 {
  margin: 40px 0px 0px 70px
}

.big-btn2 {
  display: block;
  border-style: solid;
  border-width: 1px;
  padding: 7px 7px 7px 7px;
  background-color: #10a5df;
  color: #ffffff;
  border-color: #10a5df;
  border-radius: 4px;
  font-size: 10pt;
  width: 140px;
  text-align: center;
}

.text-field3 {
  font-size: 11pt;
  padding: 1px 1px 1px 3px;
}


/* Case 4 */

#case4-1 {
  margin: 20px 0px 0px 70px
}

#case4-2 {
  margin: 20px 0px 0px 70px
}

.text-field4 {
  font-size: 11pt;
  padding: 1px 1px 1px 3px;
}



/* Case 5 */

#case5-1 {
  margin: 20px 0px 0px 70px
}

#case5-2 {
  margin: 20px 0px 0px 50px
}

.text-field5 {
  font-size: 11pt;
  padding: 1px 1px 1px 3px;
}


/* Case 6 */

#case6-1 {
  margin: 20px 0px 0px 70px
}

#case6-2 {
  margin: 20px 0px 0px 80px
}

.big-btn3 {
  display: block;
  border-style: solid;
  border-width: 1px;
  padding: 14px 14px 14px 14px;
  background-color: #10a5df;
  color: #ffffff;
  border-color: #10a5df;
  border-radius: 4px;
  font-size: 10pt;
  width: 170px;
  text-align: center;
}

#results-table {
  width: 90%;
  margin: 30px 0px 60px 70px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px!important;
  height: 40px!important;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px!important;
  height: 40px!important;
}

.text-field6 {
  font-size: 11pt;
  padding: 1px 1px 1px 3px;
}
